@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 4, 35;
    --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 4, 35;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
}

.clip-path-polygon-tl {
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.clip-path-polygon-tr {
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}

.clip-path-polygon-bl {
  clip-path: polygon(0 100%, 100% 100%, 0 0);

}

.clip-path-polygon-br {
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.flip-horizontal {
  --transform-scale-x: -1;
}